
body {
    font-family: Arial, sans-serif;

  color: white;
}
.navbar {
background-color: white;
  width: 100%;

 
  z-index: 999;
 position: fixed;
 display: flex;
 justify-content: center;
 align-items: center;
 opacity: 0.9;
 
}

.navbar-nav {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: row;
  width: 100%;
}

/* Estilos dos links */
.nav-link {
  color:rgb(104, 104, 104)!important;
  font-size: 1.5rem; 
  font-weight: bold; 
  margin: 0 15px;
}

.nav-link.active {
  color: rgb(39, 39, 39) !important;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.content {
    position: relative;
    z-index: 1;
    color: white;
}


.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img {
    width: 80%; 
    height: auto;
    max-width: 500px;
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255,0.2));
    transition: scale 1s ease;
}

.image-container img:hover{
  scale: 1.067
}



.two{
    width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  background-image: url(/midias/Section1/fundo\ de\ hamburguer50opa.png);
  background-size: cover;
  background-repeat: repeat;
}


.two .container{
    width: 90%;
    min-height: 70vh;
   filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.3)); 
   display: block;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
   transition: scale 1s ease-in-out;



}

.two .container:hover{
    scale: 1.05;
}

.two .container h2, .two .container h3{
    width: 70%;
    color: white;
}

.two .container h2{
    padding-bottom: 1rem;

}


#container-pagtwo{
    display: flex;
    justify-content: center;
    text-align: center;

    height: 80%;
    border-radius: 1%;
    background-color: #ff4d00;
    color: black;
    padding: 1rem; 
}

.one{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
    background-image: url(/midias/Section1/fundo\ de\ hamburguer50opa.png);
    background-size: cover;
}





.carousel {
    margin-bottom: 30px; 
    color: #ff4d00;

}
.carousel-caption-below {
    text-align: center; 
    margin-top: 20px; 
}
.carousel-caption-below h1,
.carousel-caption-below p {
    margin: 10px 0;
    word-wrap: break-word;

}
.carousel-caption-below h1{

    filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.3));
}

h1 {
    font-size: 5vw; 
}
p {
    font-size: 3vw; 
}
.carousel-control-prev, 
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    
    opacity: 0.5;
}
.carousel-control-prev {
    left: -15%; 
}
.carousel-control-next {
    right: -15%;
.carousel-control-prev-icon{

    filter: drop-shadow(10px 3px 10px rgba(0, 0, 0, 0.5));
}
.carousel-control-next-icon {
    filter: drop-shadow(-13px 3px 10px rgba(0, 0, 0, 0.5));

}
.btn-responsive {
 color: rgb(255, 255, 255);
 background-color: rgba(255, 77, 0, 1);
 border: #ff4d00;

 transition:  0.5s ease-in-out;

}
.btn-responsive:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(202, 61, 0, 1);
    border: #ff4d00;
   }


.text-center{
    background-color: #ee4700;
}

.py-5 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}



.display-4 {
    font-size: 1.5rem;
    font-weight:200;
    word-break: break-word;
    
    filter: drop-shadow(1px 3px 20px rgba(0, 0, 0, 0.5));
}


#section4{
    height: 100vh;
}

#section5{
    height: 100vh;
}

#section6{
    height: 100vh;
}




.footer-background video,
.backgrounds6 video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.2; 
}

.footer-content,
.backgrounds6-content {
  position: relative;
  z-index: 1;
  color: white; 
  text-align: center;
  padding: 20px 0; 
}






.footer-background,.backgrounds6{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    opacity: 0.9;
}
.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.gradient-wrapper {
    background: linear-gradient(to bottom, #ff4d00 20%, black 60%);
}
.section {
    padding: 100px 0;
}

#section4{
    display: flex; 
    justify-content: center; 
    align-items: center;
 
}
.gradient-wrapper .section .carousel {
    margin-bottom: 30px; 
    color: #ffffff;

}
.carousel-caption-below {
    text-align: center;
    margin-top: 20px; 
}
.carousel-caption-below h1,
.carousel-caption-below p {
    margin: 10px 0;
    word-wrap: break-word;

}
.carousel-caption-below h1{

    filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.3));
}

h1 {
    font-size: 5vw; 
}
p {
    font-size: 3vw;
}
.carousel-control-prev, 
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    
    opacity: 0.5;
}
.gradient-wrapper .section .carousel-control-prev {
    left: -15%; 
}
.gradient-wrapper .section .carousel-control-next {
    right: -15%; 
}
.gradient-wrapper .section .carousel-control-prev-icon{

    filter: drop-shadow(10px 3px 10px rgba(0, 0, 0, 0.5));
    background-image: url(/midias/slide1/seta-white-direita.svg);
    rotate: 180deg;
}
.gradient-wrapper .section .carousel-control-next-icon {
    filter: drop-shadow(-13px 3px 10px rgba(0, 0, 0, 0.5));
    background-image: url(/midias/slide1/seta-white-direita.svg);
    

}
#carouselExampleControls2 .btn-responsive {
 color: #ff4d00;
 background-color: rgb(255, 255, 255);
 border: #ff4d00;


 transition:  0.5s ease-in-out;

}
#carouselExampleControls2 .btn-responsive:hover {
    color: #ff4d00;
    background-color: rgb(212, 212, 212);
    border: #ff4d00;

   }

   #containerpag5{
    
   }

   #section5 .card {
    max-width: 500px;
    margin: auto;


}





.pagina-6{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50vh;
  }
  .card-custom, .card-body-custom {
    border: none; 
    outline: none; 
}

  .card-media {
    width: 90%;
    height: 100%;
    object-fit: cover;
   
  }


  .card-custom {
    height: 50vh; 
  border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;

    padding-top: 50px;
    margin-top: 50px;
    border: 1px solid #ffffff;
    transition: 0.5s ease;
  
  }

  .card-custom:hover{
    scale: 1.05;
  }
  .card-body-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    opacity:1 ; 
    transition: opacity 1.0s ease;
    background: linear-gradient(-45deg, black,#ff4d00, #ff4d00);
    background-size: 300% 300%;
    animation: gradient-animation 5s ease infinite;
    color: #fff;
    padding: 15px;
    border: 1px solid #ffffff;
  }


  @keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 90% 50%; }
    100% { background-position: 0% 50%; }
  }

  .card-title, .card-text {
    font-size: 1rem; 
  }
  .card-text {
    font-size: 0.875rem; 
  }

  
  #section6{
display: flex;
justify-content: center;
align-items: center;
  }

  #section6 .row{
    width: 100%;
  }
  #s6-container1{

height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
  }

  #s6-container2{
    
    height: 100vh;
    width: 100vw;
    display: flex;
justify-content: center;
align-items: center;

    
  }


  #div-texts6 {
    font-size: 2rem;
    position: relative;
    padding-left: 40px; 
  }
  #div-texts6::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px; 
    height: 150%;
    align-self: center;
    background-color: #ffffff; 
  }

  #div-texts6::before:hover {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 150%;
    align-self: center;
    background-color: #ffffff; 
  }




  .p-3 p{
    font-size: 1.9rem;
    padding-left: 50px;
  }
  .p-3 h4{
    font-size: 2.2rem;
padding-bottom: 30px;
text-transform: uppercase;
font-weight: bold;
    padding-left: 40px;

  }


  


  footer p{
    font-size: 1rem;
  }

  footer{
    background-color:#ee4700;
  }
  .icon-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px; 
    background-color: transparent;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); 
}

.video-circle {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}



@media (min-width: 1400px){
   
    h1 {
        font-size: 5vw; 
    }

    p {
        font-size: 6vw; 
    }


      
    .two .container h3 {
        width: 90%; 
        font-size: 2.3rem; 
      }
    
      .two .container h2 {
        padding-bottom: 0.5rem; 
        font-size: 2.6rem;
        font-weight: 600;
      }

    .btn-responsive {
        font-size: 2.2rem;
        padding: 1rem 1rem; 
        white-space: wrap;     
    }

    
    .carousel-control-prev-icon,
    .carousel-control-next-icon {

      width:5vw;
      height: 5vw;
     
    }

    .display-4 {
        font-size: 3rem;
        font-weight:200;
        word-break: break-word;
    }


    #containerpag5{
    background-color: aquamarine;
    height: 75vh;
    }



}

@media (max-width: 1399px) {
    h1 {
        font-size: 6vw; 
    }

    p {
        font-size: 4vw; 
    }

    
    .two .container h3 {
        width: 90%; 
        font-size: 1.6rem;
      }
    
      .two .container h2 {
        padding-bottom: 0.5rem; 
        font-size: 2.3rem;
        font-weight: 600;
      }
    
      #container-pagtwo {
        padding: 0.5rem;
      }

     


    .btn-responsive {
        font-size: 1rem; 
        padding: 1.5rem 2rem; 
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {

      width:6vw;
      height: 6vw;
     
    }

    .carousel-control-prev {
        left: -15%; 
    }

    .carousel-control-next {
        right: -15%; 
    }

    .display-4 {
        font-size: 2.5rem;
        font-weight:200;
        word-break: break-word;
    }



    #containerpag5{
        background-color: aquamarine;
        height: 75vh;
        }
     
      

}


@media (max-width: 768px) {
    h1 {
        font-size: 6vw; 
    }

    p {
        font-size: 4vw; 
    }

    .two .container h2{
 font-weight: 800;
 font-size: 2rem; 
 font-weight: 600;
    }


    .two .container h3 {
      width: 90%; 
      font-size: 1.5rem; 
    }







    .btn-responsive {
        font-size: 1rem;
        padding: 1rem 1rem; 
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {

      width:6vw;
      height: 6vw;
     
    }

    .carousel-control-prev {
        left: -15%; 
    }

    .carousel-control-next {
        right: -15%; 
    }

    
.display-4 {
    font-size: 2rem;
    font-weight:200;
    word-break: break-word;
}

#containerpag5{
    background-color: aquamarine;
    height: 75vh;
    width: 90vw;
    }

    
.pagina-6{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-bottom: 100vh;
  }
  
  #container-do-card{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-custom {
    height: 65vh; 
    width: 60vw;;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
    border: 4px #ee4700;
    padding-top: 50px;
    margin-top: 50px;
  
  }

  .map-cont{
    position: relative; top: -40%;
  }

}

@media (max-width: 500px) {
    h1 {
        font-size: 7vw; 
    }

    p {
        font-size: 5vw; 
    }

    .two .container h3 {
      width: 90%; 
      font-size: 1.3rem; 
    }
  
    .two .container h2 {
      padding-bottom: 0.5rem; 
      font-size: 1.6rem;
      font-weight: 600;
    }
  
    #container-pagtwo {
      padding: 0.5rem; 
    }



    .btn-responsive {
        padding: 0.25rem 0.3rem; 
        white-space: wrap;     
        padding: 1rem 1rem;

        
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {

      width:6vw;
      height: 6vw;
     
    }

    .carousel-control-prev {
        left: -15%; 
    }

    .carousel-control-next {
        right: -15%; 
    }
    

    

.display-4 {
    font-size: 1.5rem;
    font-weight:200;
    word-break: break-word;
}


.pagina-6{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-bottom: 100vh;
  }
  
  #container-do-card{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-custom {
    height: 60vh; 
    width: 75vw;;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
    border: 4px #ee4700;
    padding-top: 50px;
    margin-top: 50px;
  
  }

}



@media (min-width: 1400px){
   
    h1 {
        font-size: 5vw; 
    }

    p {
        font-size: 6vw; 
    }


      
    .two .container h3 {
        width: 90%; 
        font-size: 2.3rem; 
      }
    
      .two .container h2 {
        padding-bottom: 0.5rem; 
        font-size: 2.6rem; 
        font-weight: 600;
      }

    .btn-responsive {
        font-size: 2.2rem;
        padding: 1rem 1rem; 
        white-space: wrap;    
    }

    
    .carousel-control-prev-icon,
    .carousel-control-next-icon {

      width:5vw;
      height: 5vw;
     
    }

    .display-4 {
        font-size: 3rem;
        font-weight:200;
        word-break: break-word;
    }


    #containerpag5{
    background-color: aquamarine;
    height: 75vh;
    }



}


